* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', 'sans-serif';
}

.header {
    width: 100%;
    height: 100vh;
    background: #020412;
    color: #fff;
    padding: 0 8.5%;
    position: relative;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 30 0 10;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.menu-icon {
    width: 35px;
    cursor: pointer;
}

nav ul {
    flex: 1;
    text-align: right;
    padding-right: 40px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    letter-spacing: 1;
    font-size: 17px;
}

nav ul li a:hover {
    color: #fff724;
}

text-box {
    margin-top: 15%;
    font-size: 17px;
    letter-spacing: 1;
    line-height: 26px;
}

.text-box h1 {
    font-size: 75px;
    line-height: 160px;
}

.text-box a {
    margin-top: 30px;
    display: inline-block;
    border-radius: 6px;
    border: 2px solid #fff724;
    padding: 10px 30px;
    color: #fff724;
    text-decoration: none;
}

.text-box .btn {
    background: #fff724;
    color: #000;
    margin-left: 30px;
    font-weight: 600;
}

.user-img {
    width: 660px;
    position: absolute;
    right: 0%;
    bottom: 0;
}

.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #FFF724;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 3px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

@media mobile and (max-width: 480px) {}

@media tab-pot and (max-width: 767px) {}

@media tab-land and (max-width: 1024px) {}